//默认的圆角值
$app-base-radius: 16rpx;

//默认的原子边距(这个是整个系统最小的边距值,其他的都跟这个值成倍数关系)
$app-base-margin: 16rpx;

//默认的页边距
$app-base-page-margin: 32rpx;

//popup弹窗圆角值
$app-base-popup-radius: 0rpx;

//最大圆角值
$app-base-max-radius: 999999rpx;

//APP主题色
$app-base-primary-color: #0066ff;

//商城主题色
$shop-primary-color: #f5503a;

//页面背景色
$app-base-page-bg-color: #F6F7FB;

//模块背景色
$app-base-item-bg-color: #FFFFFF;

//浅白背景
$app-base-grey-color: #F5F5F5;

//一级标题颜色
$app-base-title-color: #101010;

//u
$u-primary: $app-base-primary-color;