//默认的原子边距
$app--margin: 16rpx;

//默认的页面级边距
$app--page-margin: 32rpx;

//默认的圆角值
$app--radius: 16rpx;

//最大圆角值
$app--max-radius: 999999px;

//APP主题色
$app--primary-color: #0066ff;

//页面背景色
$app--page-bg-color: #F2F2F2;

//模块背景色
$app--item-bg-color: #FFFFFF;

//一级标题颜色
$app--title-color: #101010;

//状态成功色
$app--success-color: #1aad19;



/**
 * 覆盖第三方组件库
 */
$u-primary: $app--primary-color;

/**
 * 共享变量给JS用
 * 方便JS计算
 */
:export {
  app_margin: $app--margin;
  app_page_margin: $app--page-margin;
  app_radius: $app--radius;
  app_max_radius: $app--max-radius;
  app_primary_color: $app--primary-color;
  app_page_bg_color: $app--page-bg-color;
  app_item_bg_color: $app--item-bg-color;
}